# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# common

common/.gradle
common/build
common/out
common/classes

# fabric

fabric/.gradle
fabric/build
fabric/out
fabric/classes

# forge

forge/.gradle
forge/build
forge/out
forge/classes

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
